@use './_variables.scss' as *;  // Assure-toi que les variables sont importées depuis _variables.scss

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $primary-color;  // Utilise une couleur pastel rose ici
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  // Légère ombre pour un effet de profondeur
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    a {
      text-decoration: none;
      color: white;
    }
  }

  /* Navigation : mobile first */
  .navigation {
    display: flex;
    gap: 1rem;

    @media (max-width: 768px) {
      display: none;  // Masquer la navigation sur mobile par défaut
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: 10px;
      background-color: $primary-color;
      padding: 1rem;
      width: 200px;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      
      &.open {
        display: flex;
      }

      li {
        list-style: none;  // Supprimer les puces de la liste
        margin-bottom: 10px;
      }

      a {
        text-decoration: none;
        color: white;
      }

      button {
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    @media (min-width: 769px) {
      display: flex;
      gap: 1rem;  // Affichage du menu en ligne sur desktop
      flex-direction: row;

      li {
        list-style: none;  // Supprimer les puces sur desktop également
      }

      a {
        text-decoration: none;
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }

      button {
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  /* Styles pour le menu hamburger */
  .hamburger {
    display: block;
    cursor: pointer;
    span {
      display: block;
      width: 25px;
      height: 4px;
      background-color: white;
      margin: 5px auto;
      transition: 0.3s;
    }

    @media (min-width: 769px) {
      display: none;  // Masquer le hamburger sur les écrans plus larges
    }
  }
}
