@font-face {
    font-family: 'Roboto';
    src: url('../../assets/Roboto-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../assets/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}