@use '../base/_variables.scss' as vars;
@use '../utils/_mixins.scss' as mixins;

footer {
    background-color: vars.$primary-color; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
  
    p {
      color: vars.$white-color; 
      font-size: 1rem;
    }
  
    nav {
      display: flex;
      flex-direction: column;
      gap: 10px;
  
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
      }
  
      li {
        a {
          color: vars.$white-color;
          text-decoration: none;
          font-size: 1rem;
  
          &:hover {
            color: #8C2D1F;
          }
        }
      }
    }
  
    @include mixins.afterMobile {
      nav {
        flex-direction: row;
        justify-content: flex-end;
      }
  
      p {
        flex: 1;
      }
    }
  
    @include mixins.desktop {
      justify-content: space-between;
    }
  }
  