@use '../base/_variables.scss' as vars;
@use '../utils/_mixins.scss' as mixins;

.collections {
  padding: 2rem;
  background-color: #f9f9f9;
  text-align: center;

  .view-all-btn-container {
    margin-top: 2rem; 
  }

  .view-all-btn {
    background-color: vars.$color-btn;; 
    color: white;
    padding: 12px 24px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;

    &:hover {
      background-color: vars.$hv-color-btn;
    }
  }

  h1 {
    font-size: 2.5rem;
    color: vars.$primary-color;
    margin-bottom: 20px;
  }

  .collections-list {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;

    .category-card {
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      background-color: #EFE2D9;

      &:nth-child(odd) {
        background-color: #C8A497;
      }

      h2 {
        font-size: 1.8rem;
        color: #000;
        margin-bottom: 10px;
      }

      p {
        font-size: 1rem;
        color: #555;
        margin-bottom: 20px;
      }

      &:hover {
        background-color: vars.$primary-color;
        color: white;

        h2 {
          color: white;
        }
      }
    }
  }

  @media (min-width: 480px) {
    .collections-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include mixins.desktop {
    .collections-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
