@use 'sass:color';
@use '../base/_variables.scss' as vars;
@use '../utils/_mixins.scss' as mixins;

.products {
  padding: 0.5rem;
  text-align: center;

  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .product-list {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @include mixins.tablet {
    .product-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include mixins.desktop {
    .product-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
