@use '../base/_variables.scss' as vars;
@use '../utils/_mixins.scss' as mixins;

.contact-section {
    padding: 2rem;
    border-radius: 15px;
    margin: 2rem -20px;

    h3 {
        font-size: 1.25rem;
        color: #000; 
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
      }
  
    form {
      display: flex;
      gap: 1rem;
      max-width: 1000px; 
      margin: 0 auto; 
      justify-content: space-between; 
    }
  
    .left-column {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex: 1; 
    }
  
    .right-column {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex: 1;
    }
  
    input, textarea {
      padding: 12px;
      border: 2px solid #B4604F;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.9);
      width: 100%;
      box-sizing: border-box;
    }
  
    button {
      background-color: vars.$color-btn;;
      color: white;
      padding: 12px 24px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s;
      width: 100%;
    }
  
    button:hover {
      background-color: vars.$hv-color-btn;;
    }
  
    @include mixins.untilTablet{
      form {
        flex-direction: column;
      }
  
      .left-column,
      .right-column {
        flex: unset; 
      }
    }
  }